*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header-desc{
    width: 100%;
    position: absolute;
    background: #1CD1B0;
    margin-top: 0%;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}


.title{
    width: 100%;
    margin-top: 0%;
    padding-left: 28px;
    padding-top: 50px;
    padding-bottom: 1px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    background: #00669F;;
    
}

.logo-tienda{
    width: 10%;
}
.titulo{
    position:absolute;
    margin-top:4%;
    font-size: 30px;
}

.contenedorLogin{
    width: 100%;
    padding: 150px 0;
    position: absolute;
    text-align: center;
    margin-top: 8%;
}

.titulologin{
    text-align: left;
    margin-top: -4%;
    margin-left: 30%;
   color: #333333;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
}

/*Form*/
form input{
    display: flex;
    flex-direction: column;
    margin-left: 28.9%;
    width: 620px;
    height: 60px;
    border: 2px solid #4d4242;
    box-sizing: border-box;
}

input{
    justify-content: space-between;
    margin: 2vh;
    text-align: left;
    padding: 15px;
    font-size: 20px;
    line-height: 25px;
}
.formlogin{
    
    padding: 30px;
    margin-top:-1%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
}

button{
  
        display: inline-flex;
        background-color:#1CD1B0;
        width: 614.25px;
        height: 53.79px;
        border-radius: 23.011px;
        margin: 40px 0px 5px;
        text-decoration: none;
        border: none;
        font: inherit;
        cursor: pointer;
        padding: 16px 290px;
        margin-left: 5%;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        
}

.text-registro{
font-size: 21.4769px;
line-height: 28px;
text-align: center;
color: #00669F;
}

a{
    text-decoration: none;
    color: black;
}

/* FOOTER */
footer {
    display: flex;
    position: absolute;
    bottom: -1;
    background: #00669F;
    overflow: hidden;
    width: 100%;
    height: 52px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top:60%;

}

.footer-div {

    margin: auto;
}

.footer-text {
   
    color: #FFF9F9;
    font-size: 16px;
    line-height: 19px;


}